@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font & smooth rendering */
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
